POSTGRES_USER=wallet
POSTGRES_PASSWORD=secret
POSTGRES_DB=wallet
POSTGRES_PORT=5432

WALLET_PORT=3001
WALLET_RELEASE=true
WALLET_JWT_SECRET=ILIACHALLENGE
WALLET_JWT_INTERNAL_SECRET=ILIACHALLENGE_INTERNAL
