POSTGRES_USER=wallet
POSTGRES_PASSWORD=secret
POSTGRES_DB=wallet
POSTGRES_PORT=5432

WALLET_PORT=3001
WALLET_RELEASE=true
WALLET_JWT_SECRET=ILIACHALLENGE
WALLET_JWT_INTERNAL_SECRET=ILIACHALLENGE_INTERNAL
WALLET_USERS_URL=http://users-api:3002

USERS_DB_USER=users
USERS_DB_PASSWORD=secret
USERS_DB_NAME=users
USERS_DB_PORT=5433
USERS_PORT=3002
USERS_RELEASE=true
USERS_JWT_SECRET=ILIACHALLENGE
USERS_JWT_INTERNAL_SECRET=ILIACHALLENGE_INTERNAL
